version: "3.10"

services:

  app:
    build: .
    volumes:
      - .:/config
      - ./static:/app/static
      - ./media:/app/media
    ports:
    - "8022:8022"
    command: bash -c "python manage.py collectstatic --no-input && python manage.py migrate && daphne config.asgi:application -b 0.0.0.0 -p 8022"
    env_file:
      - .env

