/* Общие стили для страницы */
body {
    background-color: #f0f2f5; /* Светлый фон для страницы */
}

/* Стилизация заголовка списка чатов */
h1 {
    color: #007bff; /* Голубой цвет текста для заголовка */
}

/* Стили для списка чатов */
.list-group-item {
    cursor: pointer; /* Рука при наведении, подчеркивая кликабельность */
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

.list-group-item:hover {
    background-color: #e9ecef; /* Светло-серый фон при наведении */
}

/* Стилизация окна чата */
#chat-app {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для выделения блока чата */
}

/* Стилизация окна сообщений */
#chat-window {
    background-color: #ffffff; /* Белый фон для окна сообщений */
}

/* Стилизация сообщений в чате */
#chat-messages li {
    padding: 10px; /* Отступы вокруг сообщений */
    border-radius: 5px; /* Скругление углов сообщений */
    margin-bottom: 5px; /* Отступ между сообщениями */
    background-color: #f1f1f1; /* Светло-серый фон для сообщений других пользователей */
    align-items: center; /* Выравнивание сообщений по центру */
    display: flex; /* Использование flexbox для управления позиционированием */
}

/* Стили для сообщений от пользователя */
#chat-messages li.user-message {
    background-color: #007bff; /* Синий фон для сообщений пользователя */
    color: #ffffff; /* Белый текст для лучшего контраста */
    justify-content: flex-end; /* Выравнивание сообщений пользователя к правому краю */
}

/* Стили для инпута и кнопки отправки */
#chat-message-input, #chat-message-submit {
    height: 38px; /* Высота элементов ввода и кнопки */
    border: 1px solid #ccc; /* Граница для элементов */
}

#chat-message-submit {
    background-color: #28a745; /* Зеленый фон для кнопки отправить */
    color: white; /* Белый цвет текста на кнопке */
    border-color: #28a745; /* Зеленая граница, совпадающая с фоном */
}

/* Адаптивность для малых экранов */
@media (max-width: 768px) {
    .col-md-4, .col-md-8 {
        padding: 0; /* Убрать отступы для колонок на малых экранах */
    }

    #chat-app {
        margin-top: 20px; /* Отступ сверху для блока чата на малых экранах */
    }
}
